@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
body::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #000814;
}

::-webkit-scrollbar-thumb {
  background-color:#838894;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F1F2FF;
}

.code-border {
  background: linear-gradient(111.93deg,rgba(14,26,45,.24) -1.4%,rgba(17,30,50,.38) 104.96%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom,#ffffff38,#ffffff00);
}

.codeblock1, .codeblock2 {
  border-radius: 100%;
  -webkit-filter: blur(34px);
  filter: blur(34px);
  height: 257.05px;
  left: calc(50% - 263.005px);
  opacity: .2;
  top: calc(50% - 175.995px);
  -webkit-transform: matrix(1,0,-.03,1,0,0);
  transform: matrix(1,0,-.03,1,0,0);
  width: 372.95px;
}

.codeblock1 {
  background: linear-gradient(123.77deg,#8a2be2 -6.46%,orange 59.04%,#f8f8ff 124.53%);
}

.codeblock2 {
  background: linear-gradient(118.19deg,#1fa2ff -3.62%,#12d8fa 50.44%,#a6ffcb 104.51%);
  position: absolute;
}

.lable-style {
  font-size: 14px;
}
.blackButton, .lable-style {
  --tw-text-opacity: 1;
  color: rgb(241 242 255/var(--tw-text-opacity));
}

.form-style {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-shadow: 0 1px 0 0;
  --tw-shadow-colored: 0 1px 0 0 var(--tw-shadow-color);
  --tw-shadow-color: hsla(0,0%,100%,.5);
  --tw-shadow: var(--tw-shadow-colored);
  background-color: rgb(44 51 63/var(--tw-bg-opacity));
  border-radius: 0.5rem;
  box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  color: rgb(241 242 255/var(--tw-text-opacity));
  font-size: 16px;
  line-height: 24px;
  padding: 0.75rem;
}

/* Catalog Titles */
.section_heading{
  --tw-text-opacity: 1;
  color: rgb(241 242 255/var(--tw-text-opacity));
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@media(mix-width: 1024px) {
  .section_heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.yellowButton {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(255 214 10/var(--tw-bg-opacity));
  border-radius: 0.375rem;
  color: rgb(0 8 20/var(--tw-text-opacity));
  cursor: pointer;
  font-weight: 600;
  padding: 8px 20px;
}

.blackButton {
  --tw-bg-opacity: 1;
  background-color: rgb(22 29 41/var(--tw-bg-opacity));
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 20px;
}